<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    

</head>
<body>

    <!-- Get template.html-->
    
    {% extends 'template.html' %}
    {% block content %}

    <h1>Your applications</h1>
    <small>Click on the links below to access the applications</small>
    <div class="row">
        <!-- Empty column -->
        <div class="col-md-6"></div>
        <!-- Search bar -->
        <div class="col-md-4 align-items-end">
            <input type="text" class="form-control float-end" id="search" placeholder="Search">
        </div>
        <!-- Add application button -->
        <div class="col-md-2 align-items-end">
            <button type="button" class="btn btn-success float-end" id="addApplication">Add New Application</button>
            <script>
                document.getElementById("addApplication").addEventListener("click", function() {
                    $('#addApplicationModal').modal('show');
                });
            </script>
        </div>
    </div>
    <table class="table table-hover" id="applicationTabel">
        <thead>
            <tr>
                <th scope="col">Company</th>
                <th scope="col">Role</th>
                <th scope="col">Category</th>
                <th scope="col">Deadline</th>
                <th scope="col">Status</th>
                <th scope="col">Link</th>
                <th>    </th>
            </tr>
        </thead>
        <tbody>
    
            {% for application in applications %}
            <tr>
                <td>{{application.company}}</td>
                <td>{{application.role}}</td>
                <td>{{application.category}}</td>
                <td>
                    {{application.deadline}}
                    <br>
                    <small class="text-muted">
                        {% if application.days_left < 0 %}
                        {{application.days_left}} days ago
                        {% else %}
                        {{application.days_left}} days left
                        {% endif %}
                    </small>
                </td>
                <td>
                    {% if application.status == "Not Started" %}
                    <span class="badge rounded-pill bg-secondary">{{application.status}}</span>
                    {% elif application.status == "Applied" %}
                    <span class="badge rounded-pill bg-primary">{{application.status}}</span>
                    {% elif application.status == "Interview" %}
                    <span class="badge rounded-pill bg-warning text-dark">{{application.status}}</span>
                    {% elif application.status == "Offer" %}
                    <span class="badge rounded-pill bg-success">{{application.status}}</span>
                    {% elif application.status == "Rejected" %}
                    <span class="badge rounded-pill bg-danger">{{application.status}}</span>
                    {% endif %}
                </td>
                <td><a href="{{application.link}}" target="_blank">Link</a></td>
                <td>
                    <a class="btn btn-link" value="{{application.id}}" onclick="deleteApplication(this)"><i class="bi bi-trash3"></i></a>
                </td>
                <td>
                    <a href="#" class="btn btn-link"><i class="bi bi-three-dots-vertical"></i></a>
                </td>
            </tr>
            {% endfor %}
            <!--
            <tr>
                <td>Google</td>
                <td>Software Engineer</td>
                <td>Software</td>
                <td>2022-12-31</td>
                <td>Applied</td>
                <td><a href="https://www.google.com" target="_blank">Link</a></td>
                <td><i class="bi bi-trash3"></i></td>

            </tr>
            -->
        </tbody>
    </table>

    <!-- Add application modal-->
    <div class="modal fade" id="addApplicationModal" tabindex="-1" aria-labelledby="addApplicationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addApplicationModalLabel">Add Application</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="company" class="form-label">Company</label>
                            <input type="text" class="form-control" id="company" required>
                            <div class="invalid-feedback">
                                Please enter a company name
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="role" class="form-label">Role</label>
                            <input type="text" class="form-control" id="role" required>
                            <div class="invalid-feedback">
                                Please enter a role
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="category" class="form-label">Category</label>
                            <input type="text" class="form-control" id="category" required>
                            <div class="invalid-feedback">
                                Please enter a category
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="deadline" class="form-label">Deadline</label>
                            <input type="date" class="form-control" id="deadline" required>
                            <div class="invalid-feedback">
                                Please enter a deadline
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="status" class="form-label">Status</label>
                            <select class="form-select" id="status">
                                <option selected disabled >Choose...</option>
                                <option value="Not Started">Not Started</option>
                                <option value="Applied">Applied</option>
                                <option value="Interview">Interview</option>
                                <option value="Offer">Offer</option>
                                <option value="Rejected">Rejected</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a status
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="link" class="form-label">Link (optinal)</label>
                            <input type="text" class="form-control" id="link">
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addApplicationButton">Add application</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Add application button
        document.getElementById("addApplicationButton").addEventListener("click", function() {
            // Validate the form
            var forms = document.querySelectorAll('.needs-validation')
            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
                })
            
            // Get the values from the form
            var company = document.getElementById("company").value;
            var role = document.getElementById("role").value;
            var category = document.getElementById("category").value;
            var deadline = document.getElementById("deadline").value;
            var status = document.getElementById("status").value;
            var link = document.getElementById("link").value;

            // Send the data to the server
            $.ajax({
                url: '/add',
                type: 'POST',
                data: {
                    company: company,
                    role: role,
                    category: category,
                    deadline: deadline,
                    status: status,
                    link: link
                },
                success: function(response) {
                    console.log(response);
                    $('#addApplicationModal').modal('hide');
                    location.reload();
                }
            });
        });
    </script>

    <script>
        // Remove application button
        const deleteApplication = (element) => {
            var id = element.getAttribute("value");
            $.ajax({
                url: '/delete',
                type: 'POST',
                data: {
                    id: id
                },
                success: function(response) {
                    console.log(response);
                    location.reload();
                },
                error: function(error) {
                    alert(error);
                }
            });
        }
    </script>

    {% endblock %}
</body>
</html>